.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
}

.fadeIn {
  animation: fadeIn 1.5s;
}

.fadeOut {
  animation: fadeOut 1.5s;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}

@keyframes fadeOut {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}