@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkGray: #3f3f3f;
  --mediumGray: #acacac;
  --gray: #c7c7c7;
  --lightGray: #d6d6d6;
}

.backgroundDarkGray {
  background-color: var(--darkGray);
}

.backgroundGray {
  background-color: var(--gray);
}

.backgroundLight {
  background-color: var(--lightGray);
}

.colorDarkGray {
  color: var(--darkGray);
}

.colorMediumGray {
  color: var(--mediumGray);
}

.colorGray {
  color: var(--gray);
}

.colorLightGray {
  color: var(--lightGray);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--darkGray);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(112, 112, 112);
  border: none;
  border-radius: 2px;
}

.pointer {
  cursor: pointer;
}